@import url(reset.css);
@import url(vars.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;

    block-size: 100vh;
    background-color: var(--Very-Light-GrayishBlue);
    background-color: #F7F7FE;
    display: grid;
    place-items: center;
    text-align: center;
    color: #6E728E;
    gap: 4rem;
}
header{
    align-self: end;
}
h1{
    font-size: 2rem;
}
.toggle{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-block: 2rem 0 ;
}
#toggle{
    position: absolute;
    inset: 0 auto auto auto;
    opacity: 0;
}
label{
    display: inline-block;
    block-size: 32px;
    inline-size: 56px;
    background: linear-gradient(124deg, rgba(163,168,240,1) 10%, rgba(105,111,221,1) 68%); 
    border-radius: 16px;
    position: relative;
}
label::after{
    content: "";
    display: inline-block;
    block-size: 24px;
    inline-size: 24px;
    background: white; 
    border-radius: 16px;
    position: absolute;
    inset-block: 50% 0 ;
    transform: translateY(-50%);
    inset-inline: 0 auto;
    transition: all .3s ease;
}
#toggle:checked+label::after{
    position: absolute;
    inset-block: 50% 0 ;
    transform: translateY(-50%);
    inset-inline: 55.5% auto;
}




.wrapper{
    display: flex;
    align-items: center;
    max-inline-size: min(1050px,90%);
    text-align: center;
}
.card{
    inline-size: 350px;
    display: flex;
    flex-direction: column;
    gap: 2.133rem;
    color: white;
    background: linear-gradient(124deg, rgba(163,168,240,1) 10%, rgba(105,111,221,1) 68%); 
    padding-block: 2.02rem;
    padding-inline: 1.89rem;
    border-radius: 10px;
    block-size: 500px
}
.card>a{
    text-decoration: none;
    color: #6D72DE;
    display: inline-block;
    background-color: white;
    padding-block: 1rem;
    border-radius: 6px;
    border: 1px transparent solid;
    transition: all .3s ease
}
.card>a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px currentColor solid;
}

.card:not(.middle){
    color: var(--Dark-Grayish-Blue);
    background: white; 
    max-block-size: 453px;
}
.card:not(.middle)>a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background: linear-gradient(164deg, rgba(163,168,240,1) 30%, rgba(105,111,221,1) 78%)  rgba(255, 255, 255, 0); 
    padding-block: 1rem;
    border-radius: 6px;
    transition: all .3s ease

}
.card:not(.middle)>a:hover{
    text-decoration: none;
    color: #696fdd;
    display: inline-block;
    border: 1px solid currentColor; 
    background: white; 
    padding-block: 1rem;
    border-radius: 6px;
}
h2{
    font-size: 1.2rem;
    line-height: 1.86rem;

}
[data-price="price"]{
    font-size: 4.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
[data-price="price"]>span{
    font-size: 2.66rem;
    line-height: 3.26rem;
}
.card li{
   padding-block: .8rem; 
   border-block-start: 1px rgba(255, 255, 255, 0.25) solid;
   line-height: 1.89rem;
}
.card li:last-child{
    border-block: 1px rgba(255, 255, 255, 0.262) solid;
 }
 .card:not(.middle) li{
    padding-block: .8rem; 
    border-block-start: 1px hsla(234, 13%, 49%, 0.254) solid;
 }
 .card:not(.middle) li:last-child{
     border-block: 1px hsla(234, 13%, 49%, 0.25) solid;
  }

  @media (width<=1050px) {
    .wrapper{
        flex-direction: column;
        align-items: stretch;
    }
  }